.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
**/node_modules/**
**/*.map
.gitignore
build/**
!build/*.vsix
gradle/**
gradlew
gradlew.bat
build.gradle
webpack.config.js
*.ts
!syntaxes/**
